{% extends "layout_bulma.html" %}
{% block body %}
<div id="timer"></div>

<a id="dummy" href="static/csv/dummy.csv">Download Dummy File</a>

    <script>
    $().ready(function(){
      var cnt = 10;
      console.log("!!! Ram Ram !!!");
      var x = setInterval(function() {
        if (cnt <=0) {
          clearInterval(x);
          alert("Hello");
        }
        $(document).prop('title', cnt);
        $("#timer").val(cnt);
        $("#" + cnt).css("visibility", "visible");
        $("#timer").text(cnt--);

      }, 1000);
    });
    </script>
{% endblock %}
