{% extends "layout_bulma.html" %}
    {% block body %}
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input id="name" class="input" type="text" placeholder="Text input">
  </div>
</div>

<div class="field">
  <label class="label">Username</label>
  <div class="control has-icons-left has-icons-right">
    <input id="username" class="input is-success" type="text" placeholder="Text input" value="bulma">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
  <p class="help is-success">This username is available</p>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>
  <p class="help is-danger">This email is invalid</p>
</div>

<div class="field">
  <label class="label">Subject</label>
  <div class="control">
    <div class="select">
      <select>
        <option>Select dropdown</option>
        <option>With options</option>
      </select>
    </div>
  </div>
</div>

<div class="field">
  <label class="label">Message</label>
  <div class="control">
    <textarea class="textarea" placeholder="Textarea">What are hell and heaven?
        ..Hell and heaven are spiritual states;
            heaven is enjoyment of the presence of God,
            and Hell Banishment from it</textarea>
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="checkbox">
      <input type="checkbox" checked>
      I agree to the <a href="#">terms and conditions</a>
    </label>
  </div>
  <div class="control">
    <label class="checkbox">
      <input id="cb_test" type="checkbox" disabled>
      I agree to the <a href="#">terms and conditions</a>
    </label>
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="radio">
      <input id="yes" type="radio" name="question" checked>
      Yes
    </label>
    <label class="radio">
      <input type="radio" name="question">
      No
    </label>
    <label class="radio">
      <input type="radio" name="question">
      MayBe
    </label>
  </div>
</div>
<div class="field has-addons">
  <p class="control">
    <span class="select">
      <select>
        <option>$</option>
        <option>£</option>
        <option>₹</option>
      </select>
    </span>
  </p>
  <p class="control">
    <input class="input" type="text" placeholder="Amount of money">
  </p>
  <p class="control">
    <a class="button">
      Transfer
    </a>
  </p>
</div>

<div class="field has-addons">
  <p class="control">
    <span class="select">
      <select>
        <option>$</option>
        <option>£</option>
        <option>₹</option>
      </select>
    </span>
  </p>
  <p class="control is-expanded">
    <input class="input" type="text" placeholder="Amount of money">
  </p>
  <p class="control">
    <a class="button">
      Transfer
    </a>
  </p>
</div>
<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
  <div class="control">
    <button class="button is-text">Cancel</button>
  </div>
</div>
<script>
var country = 10;
$().ready(function(){

    var cnt = 3;
    var x = setInterval(function() {
        if (cnt <=0) {
            $(document).prop('title', "!!! Done !!!");
            $("#cb_test").removeAttr("disabled");
            $("#cb_test").prop('checked', true);
            clearInterval(x);
        }
        cnt--;
    }, 1000);
});
</script>

{% endblock %}
