{% extends "layout.html" %}
{% block page_title %}send and clear{% endblock %}
{% block body %}
<h1>iFrame ;) Example</h1>
<iframe id="i_popups" allowtranparency="true" frameborder="0" scrolling="no" src="/popups"></iframe>
{% endblock %}
