<html>
    <head>
        <title>Mayank's Flask Selenium Sample</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-git.js') }}">
        </script>
        <style>
.sections{
    padding: 2em;
}
     menu ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         overflow: hidden;
         border: 1px solid #e7e7e7;
         background-color: #f3f3f3;
     }

     menu li {
         float: left;
     }

     menu li a {
         display: block;
         color: #666;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
     }

     menu li a:hover:not(.active) {
         background-color: #ddd;
     }

     menu li a.active {
         color: white;
         background-color: #4CAF50;
     }
     #about{
       display: none;
     }
        </style>
    </head>
    <body>
        <menu>
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a id="about" href="#about">About</a></li>
            </ul>

        </menu>
        <div class="sections" id="data_years">
            <ul>
                <li class="Y1800" data-years="1800-1900">The 19th Century</li>
                <li data-years="1900-2000">The 20th Century</li>
                <li data-years="2000-2100" id="21st" style="display: none">The 21st Century</li>
                <li><a href="#test">Test Hash</a></li>
            </ul>
        </div>
        <div>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" type="email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">
                </div>
                <div class="form-group">
                    <label for="exampleSelect1">Example select</label>
                    <select class="form-control" id="exampleSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleSelect2">Example multiple select</label>
                    <select multiple="" class="form-control" id="exampleSelect2">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea">Example textarea</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3">This is a dummy text</textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" type="file">
                    <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                </div>
                <fieldset class="form-group">
                    <legend>Radio buttons</legend>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="" type="radio">
                            Option one is this and that—be sure to include why it's great
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" name="option_two">
                            <input class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" type="radio">
                            Option two can be something else and selecting it will deselect option one
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <label class="form-check-label">
                            <input class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled="" type="radio">
                            Option three is disabled
                        </label>
                    </div>
                </fieldset>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox">
                        Check me out
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="sections" id="checkboxes" data-val="This is a checkbox group">
            <input type="checkbox" name="vehicle" value="Bike" style="display: none"> I have a Bajaj bike<br>
            <input type="checkbox" name="vehicle" value="Car" checked disabled> I have a car<br>
            <input type="checkbox" name="vehicle" value="Bus" checked style="visibility: hidden"> I have a Tata Bus<br>
            <input type="checkbox" name="vehicle" value="Arjun" checked> I have an Arjun Tank<br>
            <input type="submit" value="Submit">
        </div>
        <div class="sections" id="selected">
            <select size="4">
                <option id="apple">Apple</option>
                <option id="orange">Orange</option>
                <option id="pineapple" selected>Pineapple</option>
                <option id="banana" disabled="true" style="display: none">Banana</option>
                <option id="mango" disabled="true">mango</option>
            </select>
        </div>
        <div class="sections" id="tables">
            <div id="DarkStripedTable">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                        </tr>
                        <tr>
                            <td>Mary</td>
                            <td>Moe</td>
                            <td>mary@example.com</td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="sections" id="buttons">
            <div id="button_log"></div>
            <button type="button" class="btn" id="button_basic">Basic</button>
            <button type="button" class="btn" id="button_basic_disabled" disabled>Basic</button>
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-danger" style="visibility: hidden">Danger</button>
            <button type="button" class="btn btn-dark">Dark</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-link">Link</button>
        </div>
        <div class="sections">
            <h1>Example heading <span class="badge badge-secondary">New</span></h1>
            <h2>Example heading <span class="badge badge-secondary">New</span></h2>
            <h3>Example heading <span class="badge badge-secondary">New</span></h3>
            <h4>Example heading <span class="badge badge-secondary">New</span></h4>
            <h5>Example heading <span class="badge badge-secondary">New</span></h5>
            <h6>Example heading <span class="badge badge-secondary">New</span></h6>
        </div>

        <div class="sections">
            <div class="progress">
                <div class="progress-bar" style="width:70%"></div>
            </div>
            <div class="progress" style="height:20px">
                <div class="progress-bar" style="width:40%;height:20px"></div>
            </div>
            <div id="Colored_Progress_Bars">
                <!-- Blue -->
                <div class="progress">
                    <div class="progress-bar" style="width:10%"></div>
                </div>

                <!-- Green -->
                <div class="progress">
                    <div class="progress-bar bg-success" style="width:20%"></div>
                </div>

                <!-- Turquoise -->
                <div class="progress">
                    <div class="progress-bar bg-info" style="width:30%"></div>
                </div>

                <!-- Orange -->
                <div class="progress">
                    <div class="progress-bar bg-warning" style="width:40%"></div>
                </div>

                <!-- Red -->
                <div class="progress">
                    <div class="progress-bar bg-danger" style="width:50%"></div>
                </div>

                <!-- White -->
                <div class="progress border">
                    <div id="pb_white" class="progress-bar bg-white" style="width:60%"></div>
                </div>

                <!-- Grey -->
                <div class="progress">
                    <div class="progress-bar bg-secondary" style="width:70%"></div>
                </div>

                <!-- Light Grey -->
                <div class="progress border">
                    <div class="progress-bar bg-light" style="width:80%"></div>
                </div>

                <!-- Dark Grey -->
                <div class="progress">
                    <div class="progress-bar bg-dark" style="width:90%"></div>
                </div>
                <div id="MultipleProgressBars">
                    <div class="progress">
                        <div class="progress-bar bg-success" style="width:40%">
                            Free Space
                        </div>
                        <div class="progress-bar bg-warning" style="width:10%">
                            Warning
                        </div>
                        <div class="progress-bar bg-danger" style="width:20%">
                            Danger
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#button_basic").click(function(){
                    $("#button_log").text("Clicked...");
                });
                $("#pb_white").click(function(){
                    $("#button_log").text("... Clicked on pb_white ...");
                });
                setTimeout(function() {
                    $("#exampleSelect2 > option[value='2']").attr('selected','selected');
                }, 2000);

                setTimeout(function() {
                    $("#exampleSelect2").append('<option value="10">10</option>');
                    $("#exampleSelect2 > option[value='10']").attr('selected','selected');
                }, 3000);

            });

        </script>
    </body>
</html>
